* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.square10{
    flex-basis: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}
.square9 {
    flex-basis: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
}

.square7 {
    flex-basis: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
}



.clicked {
    background-color: lightblue;
}
.clicked-red{
    background-color: red;
}

